@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
    list-style: none;
    text-decoration: none;
    font-family: 'Pretendard-Regular';
    word-break: keep-all;
    scroll-behavior: smooth;
}

body {
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

h3 {
    font-size: 24px;
    color: #220065;
}

p, i {
    font-size: 16px;
}

.scroll-lock {
    overflow: hidden;
}

.wrapper {
    position: relative;
}

.wrapper-m-t-menu {
    position: fixed;
    right: 24px;
    top: 24px;
    z-index: 1000;
}

.wrapper-pageup {
    position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 100;
    cursor: pointer;
    width: 42px;
    height: 42px;
    background-color: #5516c9;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.wrapper-pageup i {
    font-size: 20px;
    color: white;
}

.wrapper-menu-checkbox {
    display: none;
}

.wrapper-menu-checkbox + label {
    position: relative;
    display: block;
    width: 27px;
    height: 18px;
    cursor: pointer;
    z-index: 1000;
}

.wrapper-menu-checkbox + label > span {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: #5516c9;
    border-radius: 3px;
}

.wrapper-menu-checkbox + label > span:nth-child(1) {
    top: 0;
}

.wrapper-menu-checkbox:checked + label > span:nth-child(1) {
    top: 50%;
    transform: translate(0, -50%);
    transform: rotate(45deg);
}

.wrapper-menu-checkbox + label > span:nth-child(2) {
    top: 50%;
    transform: translate(0, -50%);
}

.wrapper-menu-checkbox:checked + label > span:nth-child(2) {
    opacity: 0;
}

.wrapper-menu-checkbox + label > span:nth-child(3) {
    bottom: 0;
}

.wrapper-menu-checkbox:checked + label > span:nth-child(3) {
    top: 50%;
    transform: translate(0, -50%);
    transform: rotate(-45deg);
}

.wrapper-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.header {
    position: fixed;
    background-color: #151515;
    width: 300px;
    height: 100vh;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
}

.header * {
    color: white;
}

.header-firstmenu-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header-firstmenu-profile-img {
    width: 128px;
    border-radius: 50%;
    border: 4px solid white;
    margin: 0 auto;
}

.header-firstmenu-profile-name {
    margin-top: 16px;
}

.header-firstmenu-profile-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.header-firstmenu-profile-link-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    margin-right: 4px;
}

.header-firstmenu-profile-link-item-a {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-firstmenu-profile-link-item-a i {
    font-size: 18px;
}
.header-firstmenu-profile-link-item-a:hover {
    background-color: #C3B1E1;
}

.header-firstmenu-menu-table {
    margin-top: 28px;
}

.header-firstmenu-menu-table-item {
    width: 268px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px;
    filter: opacity(50%) saturate(0%);
    cursor: pointer;
}

.header-firstmenu-menu-table-item-icon, .header-firstmenu-menu-table-item-arrow {
    width: 10%;
}

.header-firstmenu-menu-table-item-icon {
    padding-right: 7.59px;
    text-align: center;
}

.header-firstmenu-menu-table-item-title {
    width: 80%;
}

.header-firstmenu-menu-table-item-arrow {
    text-align: end;
}

.header-firstmenu-menu-table-item:first-child {
    margin-top: 0;
}

.header-firstmenu-menu-table-item:last-child {
    margin-bottom: 0;
}

.header-firstmenu-menu-table-item:hover {
    filter: none;
}

.header-firstmenu-menu-table-item-icon i {
    color: #C3B1E1;
}

.header-lastmenu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-lastmenu-copyright {
    font-size: 16px;
}

.header-lastmenu-update {
    font-size: 14px;
    margin-top: 4px;
}

.content {
    width: 100vw;
    height: 100vh;
}

.content > div {
    width: 100%;
    padding: 36px;
}

.content-title {
    font-size: 36px;
    color: #220065;
}

.content-hr {
    width: 48px;
    border-color: #5516c9;
    border-width: 2px;
    margin: 8px 0;
}

.content-home {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
    /* 문제점 */
    background-image: url('https://github.com/Daryu-Kim/PortFolio_Remake/blob/main/images/index/content/home/content-home-bg.jfif?raw=true');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 36px;
}

.content-aboutme, .content-resume {
    background-color: #fff;
}

.content-skill, .content-blank {
    background-color: #f5f0ff;
}

.content-blank {
    height: 128px;
}

.content-home * {
    color: white;
    z-index: 2;
}

.content-home-dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.content-home-typing {
    padding-right: 6px;
    z-index: 2;
    color: white;
    border-bottom: 2px solid white;
    margin: 4px 0;
    display: none;
}

#content-home-typing1 {
    margin-top: 36px;
}

#content-home-typing3 {
    animation: cursor .4s infinite;
}

.content-aboutme-profile {
    display: flex;
}

.content-aboutme-profile-box {
    margin-top: 24px;
}

.content-aboutme-profile-description-li {
    display: flex;
    align-items: center;
}

.content-aboutme-profile-description-li:last-child {
    margin-bottom: 0;
}

.content-resume-box-edu, .content-resume-box-ext, .content-resume-box-career {
    position: relative;
}

.content-resume-box-edu {
    margin-top: 28px;
}

.content-resume-box-ext, .content-resume-box-career {
    margin-top: 36px;
}

.content-resume-box-div {
    margin-top: 16px;
}

.title-break {
    word-break: break-all;
}

.content-resume-circle {
    width: 24px;
    height: 24px;
    border: 3px solid #220065;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: -4px;
}

.content-resume-title {
    font-size: 20px;
    color: black;
}

.content-resume-content {
    font-size: 16px;
    color: #928f97;
}

.content-resume-div {
    border-left: 3px solid #220065;
    padding-left: 36px;
    margin-left: 6.5px;
}

.div-margin {
    padding-top: 36px;
}

.content-resume-since {
    background-color: #f5f0ff;
    width: fit-content;
    padding: 8px 12px;
    font-weight: 600;
    margin: 8px 0;
    font-size: 16px;
}

.content-skill-title {
    font-weight: 700;
}

.content-skill-li {
    display: flex;
    align-items: center;
    margin: 8px;
    margin-left: 24px;
}

.content-skill-li img {
    margin-left: 8px;
}

.content-skill-li img:hover {
    transform: scale(1.1);
}

.content-portfolio-filter {
    width: 288px;
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
    border-radius: 24px;
    background-color: #f5f0ff;
    margin: 28px auto;
}

.content-portfolio-radio {
    display: none;
}

.content-portfolio-radio:checked + label {
    color: #5516c9;
}

.content-portfolio-filter-item {
    font-size: 20px;
    cursor: pointer;
}

.content-portfolio-filter-item:hover {
    color: #5516c9;
}

.content-portfolio-list {
    display: grid;
}

.content-portfolio-item {
    height: 300px;
    background-color: #220065;
    color: white;
    margin: 14px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    box-shadow: 0px 6px 12px black;
    cursor: pointer;
}

.content-portfolio-item:hover {
    transform: scale(1.025);
}

.content-portfolio-item-area {
    width: 100%;
    height: fit-content;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px;
}

.content-portfolio-item-textarea * {
    margin: 4px 0;
}

.content-portfolio-item-des {
    font-size: 14px;
    color: #909090;
}

.content-portfolio-item-title {
    color: #220065;
    font-weight: 700;
    font-size: 20px;
}

.content-portfolio-item-date {
    font-size: 14px;
    color: #5516c9;
}

.content-portfolio-item-author-img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
}

#portfolio-nfriends {
    background-image: url('https://picsum.photos/640/360');
}

.content-contact-box {
    box-shadow: 0 0 16px #333;
    padding: 28px;
    margin-top: 28px;
}

.content-contact-item {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.content-contact-item:first-child {
    padding-top: 0;
}

.content-contact-item:last-child {
    padding-bottom: 0;
}

.content-contact-item-title {
    color: black;
    font-size: 24px;
    margin-bottom: 4px;
}

.content-contact-item-text {
    color: black;
    font-size: 18px;
}

.content-contact-item-text:hover {
    color: #5516c9;
}

.content-contact-icon-box {
    width: 48px;
    height: 48px;
    background-color: #f5f0ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}

.content-contact-icon {
    font-size: 20px;
    color: #5516c9;
}

#footer {
    background-color: #151515;
    color: white;
    padding: 20px 16px;
}

@media screen and (max-width: 767px) {
    #header-lastmenu {
        display: none;
    }

    .content-home-title {
        font-size: 8vw;
        font-weight: bold;
    }

    .content-home-title span {
        font-size: 12vw;
    }

    .content-home-typing {
        font-size: 4vw;
        line-height: 6vw;
    }

    .content-aboutme-profile {
        flex-direction: column;
        align-items: flex-start;
    }

    .content-aboutme-profile-img {
        width: 100%;
        max-width: 480px;
        margin-top: 52px;
    }

    .content-aboutme-profile-name {
        font-size: 28px;
        margin-bottom: 12px;
    }
    
    .content-aboutme-profile-description {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .content-aboutme-profile-description-li {
        margin: 24px 0;
    }

    .content-aboutme-profile-description-li * {
        font-size: 20px;
    }

    .content-aboutme-profile-description-li b {
        margin-left: 8px;
    }

    .content-des {
        font-size: 24px;
    }

    .content-skill-title {
        font-size: 20px;
        margin-top: 28px;
        margin-bottom: 16px;
    }

    .content-portfolio-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    #header-lastmenu {
        display: none;
    }

    .content-title {
        font-size: 42px;
    }

    .content-home-title {
        font-size: 7vw;
        font-weight: bold;
    }

    .content-home-title span {
        font-size: 10.5vw;
    }

    .content-home-typing {
        font-size: 3vw;
        line-height: 4.5vw;
    }

    .content-aboutme-profile {
        flex-direction: column;
        align-items: flex-start;
    }

    .content-aboutme-profile-img {
        width: 480px;
        margin-top: 52px;
    }

    .content-aboutme-profile-name {
        font-size: 32px;
        margin-bottom: 14px;
    }
    
    .content-aboutme-profile-description {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .content-aboutme-profile-description-li {
        margin: 30px 0;
    }

    .content-aboutme-profile-description-li * {
        font-size: 24px;
    }

    .content-aboutme-profile-description-li b {
        margin-left: 10px;
    }

    .content-des {
        font-size: 28px;
    }

    .content-skill-title {
        font-size: 24px;
        margin-top: 28px;
        margin-bottom: 18px;
    }

    .content-skill-li img {
        height: 32px;
    }

    .content-contact-box {
        justify-content: center;
        width: 560px;
        margin: auto;
        margin-top: 28px;
    }

    .content-portfolio-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .wrapper-m-t-menu {
        display: none;
    }

    .content {
        padding-left: 300px;
    }

    .content-home-title {
        font-size: 5vw;
        font-weight: bold;
    }

    .content-home-title span {
        font-size: 7.5vw;
    }

    .content-home-typing {
        font-size: 2vw;
        line-height: 3vw;
    }

    .content-aboutme-profile {
        align-items: flex-start;
        margin-top: 52px;
    }

    .content-aboutme-profile-img {
        width: 30%;
        max-width: 360px;
        margin-right: 24px;
    }

    .content-aboutme-profile-box {
        margin-top: 0;
    }

    .content-aboutme-profile-name {
        font-size: 28px;
        margin-bottom: 12px;
    }
    
    .content-aboutme-profile-description {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .content-aboutme-profile-description-li {
        margin: 24px 0;
    }

    .content-aboutme-profile-description-li * {
        font-size: 20px;
    }

    .content-aboutme-profile-description-li b {
        margin-left: 8px;
    }

    .content-resume-box {
        display: flex;
    }

    .content-resume-box > div {
        width: 50%;
    }

    .content-resume-box-ext {
        margin-top: 28px;
    }

    .content-des {
        font-size: 24px;
    }

    .content-skill-title {
        font-size: 20px;
        margin-top: 28px;
        margin-bottom: 16px;
    }

    .content-portfolio-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .content-contact-box {
        justify-content: center;
        width: 70%;
        max-width: 840px;
        margin: auto;
        margin-top: 28px;
    }

    #footer {
        display: none;
    }
}

@keyframes cursor {
    0% {
        border-right: 2px solid transparent;
    }

    50% {
        border-right: 2px solid white;
    }

    100% {
        border-right: 2px solid transparent;
    }
}