@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
    list-style: none;
    text-decoration: none;
    font-family: 'GmarketSansMedium';
    word-break: keep-all;
    scroll-behavior: smooth;
}

body {
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

h3 {
    font-size: 20px;
}

p, i {
    font-size: 14px;
}

.scroll-lock {
    overflow: hidden;
}

.wrapper {
    position: relative;
    display: flex;
}

.wrapper-m-t-menu {
    position: fixed;
    right: 24px;
    top: 24px;
    z-index: 1000;
}

.wrapper-pageup {
    position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 100;
    cursor: pointer;
    width: 48px;
    height: 48px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.wrapper-pageup i {
    font-size: 24px;
    color: white;
}

.wrapper-menu-checkbox {
    display: none;
}

.wrapper-menu-checkbox + label {
    position: relative;
    display: block;
    width: 27px;
    height: 18px;
    cursor: pointer;
    z-index: 1000;
}

.wrapper-menu-checkbox + label > span {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 3px;
}

.wrapper-menu-checkbox + label > span:nth-child(1) {
    top: 0;
}

.wrapper-menu-checkbox:checked + label > span:nth-child(1) {
    top: 50%;
    transform: translate(0, -50%);
    transform: rotate(45deg);
}

.wrapper-menu-checkbox + label > span:nth-child(2) {
    top: 50%;
    transform: translate(0, -50%);
}

.wrapper-menu-checkbox:checked + label > span:nth-child(2) {
    opacity: 0;
}

.wrapper-menu-checkbox + label > span:nth-child(3) {
    bottom: 0;
}

.wrapper-menu-checkbox:checked + label > span:nth-child(3) {
    top: 50%;
    transform: translate(0, -50%);
    transform: rotate(-45deg);
}

.wrapper-overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.header {
    position: fixed;
    background-color: #151515;
    width: 300px;
    height: 100vh;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
}

.header * {
    color: white;
}

.header-firstmenu-profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header-firstmenu-profile-img {
    width: 128px;
    border-radius: 50%;
    border: 4px solid white;
    margin: 0 auto;
}

.header-firstmenu-profile-name {
    margin-top: 16px;
}

.header-firstmenu-profile-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.header-firstmenu-profile-link-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    margin-right: 4px;
}

.header-firstmenu-profile-link-item-a {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-firstmenu-profile-link-item-a i {
    font-size: 18px;
}
.header-firstmenu-profile-link-item-a:hover {
    background-color: #C3B1E1;
}

.header-firstmenu-menu-table {
    margin-top: 36px;
}

.header-firstmenu-menu-table-item {
    width: 268px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px;
    filter: opacity(50%) saturate(0%);
    margin: 4px 0;
    cursor: pointer;
}

.header-firstmenu-menu-table-item-icon, .header-firstmenu-menu-table-item-arrow {
    width: 10%;
}

.header-firstmenu-menu-table-item-icon {
    padding-right: 7.59px;
    text-align: center;
}

.header-firstmenu-menu-table-item-title {
    width: 80%;
}

.header-firstmenu-menu-table-item-arrow {
    text-align: end;
}

.header-firstmenu-menu-table-item:first-child {
    margin-top: 0;
}

.header-firstmenu-menu-table-item:last-child {
    margin-bottom: 0;
}

.header-firstmenu-menu-table-item:hover {
    filter: none;
}

.header-firstmenu-menu-table-item-icon i {
    color: #C3B1E1;
}

.header-lastmenu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 100vw;
    height: 100vh;
}

.content > div {
    width: 100%;
    padding: 36px;
}

.content-title {
    font-size: 32px;
}

.content-hr {
    width: 48px;
    border-color: #333;
    margin: 8px 0;
}

.content-home {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
    /* 문제점 */
    background-image: url('https://github.com/Daryu-Kim/PortFolio_Remake/blob/main/images/index/content/home/content-home-bg.jfif?raw=true');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 36px;
}

.content-aboutme, .content-resume {
    background-color: #fff;
}

.content-skill, .content-blank {
    background-color: #f5f0ff;
}

.content-blank {
    height: 128px;
}

.content-home * {
    color: white;
    z-index: 2;
}

.content-home-dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.content-home-typing {
    padding-right: 6px;
    z-index: 2;
    color: white;
    border-bottom: 2px solid white;
    margin: 4px 0;
    display: none;
}

#content-home-typing1 {
    margin-top: 36px;
}

#content-home-typing3 {
    animation: cursor .4s infinite;
}

.content-aboutme-profile {
    display: flex;
}

.content-aboutme-profile-box {
    margin-top: 24px;
}

.content-aboutme-profile-description-li {
    display: flex;
    align-items: center;
}

.content-aboutme-profile-description-li:last-child {
    margin-bottom: 0;
}

.content-skill-li {
    display: flex;
    align-items: center;
    margin: 8px;
    margin-left: 24px;
}

.content-skill-li img {
    margin-left: 8px;
}

.content-skill-li img:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 767px) {
    .content-home-title {
        font-size: 8vw;
        font-weight: bold;
    }

    .content-home-title span {
        font-size: 12vw;
    }

    .content-home-typing {
        font-size: 4vw;
        line-height: 6vw;
    }

    .content-aboutme-profile {
        flex-direction: column;
        align-items: flex-start;
    }

    .content-aboutme-profile-img {
        width: 100%;
        max-width: 480px;
        margin-top: 52px;
    }

    .content-aboutme-profile-name {
        font-size: 24px;
        margin-bottom: 12px;
    }
    
    .content-aboutme-profile-description {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .content-aboutme-profile-description-li {
        margin: 24px 0;
    }

    .content-aboutme-profile-description-li * {
        font-size: 16px;
    }

    .content-aboutme-profile-description-li b {
        margin-left: 8px;
    }

    .content-des {
        font-size: 20px;
    }

    .content-skill-title {
        font-size: 18px;
        margin-top: 28px;
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
    .content-home-title {
        font-size: 7vw;
        font-weight: bold;
    }

    .content-home-title span {
        font-size: 10.5vw;
    }

    .content-home-typing {
        font-size: 3vw;
        line-height: 4.5vw;
    }

    .content-aboutme-profile {
        flex-direction: column;
        align-items: flex-start;
    }

    .content-aboutme-profile-img {
        width: 480px;
        margin-top: 52px;
    }

    .content-aboutme-profile-name {
        font-size: 28px;
        margin-bottom: 14px;
    }
    
    .content-aboutme-profile-description {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .content-aboutme-profile-description-li {
        margin: 30px 0;
    }

    .content-aboutme-profile-description-li * {
        font-size: 20px;
    }

    .content-aboutme-profile-description-li b {
        margin-left: 10px;
    }

    .content-des {
        font-size: 24px;
    }
}

@media screen and (min-width: 960px) {
    .wrapper-m-t-menu {
        display: none;
    }

    .content {
        padding-left: 300px;
    }

    .content-home-title {
        font-size: 5vw;
        font-weight: bold;
    }

    .content-home-title span {
        font-size: 7.5vw;
    }

    .content-home-typing {
        font-size: 2vw;
        line-height: 3vw;
    }

    .content-aboutme-profile {
        align-items: flex-start;
        margin-top: 52px;
    }

    .content-aboutme-profile-img {
        width: 30%;
        margin-right: 24px;
    }

    .content-aboutme-profile-box {
        margin-top: 0;
    }

    .content-aboutme-profile-name {
        font-size: 24px;
        margin-bottom: 12px;
    }
    
    .content-aboutme-profile-description {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .content-aboutme-profile-description-li {
        margin: 24px 0;
    }

    .content-aboutme-profile-description-li * {
        font-size: 16px;
    }

    .content-aboutme-profile-description-li b {
        margin-left: 8px;
    }

    .content-des {
        font-size: 20px;
    }
}

@keyframes cursor {
    0% {
        border-right: 2px solid transparent;
    }

    50% {
        border-right: 2px solid white;
    }

    100% {
        border-right: 2px solid transparent;
    }
}