@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s ease-in-out;
    list-style: none;
    text-decoration: none;
    font-family: 'Pretendard-Regular';
    word-break: keep-all;
    scroll-behavior: smooth;
}

.content-title {
    text-align: center;
}

hr {
    margin-top: 24px;
    margin-bottom: 12px;
}

.content-sub-title {
    margin-top: 16px;
    margin-bottom: 8px;
}

.content-sub-title:first-child {
    margin-top: 0;
}

.content-deployment {
    display: flex;
}

.content-deployment > a {
    width: 32px;
    height: 32px;
    background-color: black;
    text-align: center;
    border-radius: 50%;
    margin-right: 8px;
}

.content-deployment > a:last-child {
    margin-right: 0;
}

.content-deployment > a:hover {
    transform: scale(1.05);
}

.content-deployment i {
    color: white;
    line-height: 32px;
    font-size: 16px;
}

.content-slide {
    width: 100%;
    height: 60vw;
    background-color: #ddd;
    position: relative;
    padding: 16px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-slide-controller {
    height: 100%;
    position: relative;
}

.content-slide-controller-general {
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.35);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    line-height: 32px;
    text-align: center;
}

.controller-left {
    left: 0;
}

.controller-right {
    right: 0;
}

.content-slide-controller-radiobox {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}